<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>from staff details</h1>
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <th style="border: 1px dotted black;">Names</th>
            <th style="border: 1px dotted black;">Titles</th>
            <th style="border: 1px dotted black;">Salaries</th>
        </tr>
        <!-- selection expression-->
        <tr th:object="${staffData}">
            <!-- variable expression (Thymeleaf attribute ) th:text="${staff.staffName}" -->
            <td th:text="*{staffName}" style="text-align: center;border: 1px dotted black;"></td>
            <td th:text="*{staffJobTitle}" style="text-align: center;border: 1px dotted black;"></td>
            <td  style="text-align: center;border: 1px dotted black;">
                <!-- conditions if and else (unless) -->
                <p th:text="*{staffSalary >= 20000 ? 'its too much' : 'its not too much'}"></p>
                <!-- <p th:if="${staffSalary >= 20000}"></p> -->
                <!-- <p th:unless="${staffSalary < 20000}">it's not too much</p> -->
            </td>
        </tr>
    </table>
    <div th:switch="${staffData.staffName}">
        <p th:case="nouran">hi nouran</p>
        <p th:case="*">not found</p>


    </div>
    <p th:text="${#strings.contains(str,'LOVE')}">not found</p>

</body>
</html>